.header_h1 {
    font-size: var(--fsHeaderH1);
    font-weight: $fBold;
    padding: 0;
    margin: 0;
}

.header_h2 {
    font-size: var(--fsHeaderH2);
    font-weight: $fBold;
    padding: 0;
    margin: 0;
}

.header_h3 {
    font-size: var(--fsHeaderH3);
    font-weight: $fBold;
    padding: 0;
    margin: 0;
}

.header_h4 {
    font-size: var(--fsHeaderH4);
    font-weight: $fBold;
    padding: 0;
    margin: 0;
}

.header_h5 {
    font-size: var(--fsHeaderH5);
    font-weight: $fBold;
    padding: 0;
    margin: 0;
}

.header_h6 {
    font-size: var(--fsHeaderH6);
    font-weight: $fBold;
    padding: 0;
    margin: 0;
}
