.header__wrapper {
    min-height: var(--hHeader);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: $z-index-100;

    .header {
        height: var(--hHeader);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: lightblue;
        padding: calc(var(--rem));
    }
}
